<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.once.purchase</string>
	<string>com.10times.purchase</string>
	<string>com.oncetime.purchase</string>
	<string>com.quarterly.subscription</string>
	<string>com.annual.subscription</string>
	<string>com.monthly.subscription</string>
</array>
</plist>
